<?xml version="1.0"?>
<model>
  <name>Backpack</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>DanlyVostok (Sketchfab)</name>
    <email>user@email.com</email>
  </author>
  <description>
    Low Poly Game Ready Military Tactical Backpack.
    Original model by DanlyVostok: https://sketchfab.com/3d-models/low-poly-game-ready-military-tactical-backpack-95a4fc2300584384b56ce3add58dbcsf
  </description>
</model>