<launch>
  <arg name="scenario" default = "warehouse"/>
  <arg name="starting_elapsed" default = "8"/>

  <node name="peopleflow_manager" pkg="peopleflow_manager" type="ScenarioManager.py" output="screen">
    <param name="scenario"   value="$(find pedsim_simulator)/scenarios/$(arg scenario)"/> 
    <param name="starting_elapsed"   value="$(arg starting_elapsed)"/> 
  </node>
 
</launch>